@model LeManhTuan_2011065057_BigSchool.ViewModel.CourseViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<div class="course">
    <ul>
        @foreach (var course in Model.UpCommingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerID">Follow</button>
                    </span>
                    @if (Model.ShowAction)
                    {
                        <button class="btn btn-link btn-sm js-toggle-anttendance"></button>
                    }
                    <span class="category">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        <button data-course-id="@course.Id"></button>
                    }
                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-anttendance">Going?</button>
                </div>
            </li>
        }
    </ul>
</div>